<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kiennv.duanphonestore">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/store"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DuanPhonestore"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".User.Activity.ForgotPassActivity"
            android:exported="true" />
        <activity
            android:name=".User.Activity.ChatadminActivity"
            android:exported="true" />
        <activity
            android:name=".User.Activity.OrderSuccesActivity"
            android:exported="true"></activity>
        <activity
            android:name=".User.Activity.XemAllSPMoinhatActivity"
            android:exported="true" />
        <activity
            android:name=".User.Activity.ChangePasssUserActivity"
            android:exported="true" />
        <activity
            android:name=".User.Activity.EditUserActivity"
            android:exported="true" />
        <activity
            android:name=".User.Activity.ChitietTTdonhangActivity"
            android:exported="true" />
        <activity
            android:name=".User.Activity.ChitietspActivity"
            android:exported="true"></activity>
        <activity android:name=".User.MainActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ManhinhChao">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>